.idea
.playwright-mcp/
.DS_Store
AGENTS.local.md
composer.phar
composer.lock
*.log
/templates/
!/templates/default.html
!/templates/template1.html
!/templates/template2.html
!/templates/template3.html
!/templates/template4.html
!/templates/template5.html
